[user]
	name = =
	email = =
	name = =
	email = =
	name = =
	email = =
	name = =
	email = =
	name = =
	email = =
	name = =
	email = =
	name = =
	email = =
	name = =
	email = =
	name = =
	email = =
[pull]
	ff = only
